/*
===================================================================
                    CSS de seleção dos campos
===================================================================
*/
p::selection {
    background: #FF5A87;
    color: white;
}
h3::selection {
    background: #FF5A87;
    color: white;
}
br::selection {
    background: #FF5A87;
    color: white;
}
/*
===================================================================
                    CSS da Pagina Inicial/Login
===================================================================
*/

.pinkContainer {
    background-color: #FF5A87;
    width: 100%;
    height: 40rem;
}
.loginContainer {
    height: 40rem;
}
.tituloInicial {
    color: white;
    margin: 40px;
}
.mainContainer {
    position: absolute;
    bottom: 0;
    left: 0;
}
.loginCamp {
    border-radius: 30px !important;
    height: 3rem !important;
    width: 15rem!important;
}
.mainButton {
    margin: 40px;
    border-radius: 30px !important;
}
.geral {
    height: 100%;
    background-color: #f1eeee;
}
.buttonEntrar {
    background-color: #FF5A87 !important;
    border-color: white !important;
    width: 200px;
    margin: 10%;
    border-radius: 30px !important;
}
.buttonEntrar:hover {
    background-color: white !important; 
    color: black !important;
    border-color: #FF5A87 !important;
  }
.textoLogin {
    font-size: 17px;
    color: rgb(119, 118, 118);
}
/*
===================================================================
                    CSS da Pagina de Cadastro
===================================================================
*/
.cadastroCamp {
    border-radius: 30px !important;
    height: 3rem !important;
    width: 25rem!important;
    border-color: #FF5A87 !important;
}
.buttonCadastrar {
    background-color: #FF5A87 !important;
    border-color: white !important;
    margin-bottom: 30px;
    border-radius: 30px !important;
    
}
.buttonCadastrar:hover {
    background-color: white !important; 
    color: black !important;
    border-color: #FF5A87 !important;
}
